# This docker-compose file defines the development environment
# Author: Manuel Bernal Llinares <mbdebian@gmail.com>
version: "3"
services:
    resolver:
        image: identifiersorg/cloud-ws-resolver
        environment:
            - WS_RESOLVER_CONFIG_REDIS_HOST=redis
            - WS_RESOLVER_CONFIG_REDIS_PORT=6379
            - WS_RESOLVER_CONFIG_RESOURCE_RECOMMENDER_HOST=recommender
            - WS_RESOLVER_CONFIG_RESOURCE_RECOMMENDER_PORT=8083
            - WS_RESOLVER_JVM_MEMORY_MAX=1024m
        ports:
            - "8080:8080"
        networks:
            - satwebspanet
        depends_on:
            - redis
            - recommender
    recommender:
        image: identifiersorg/cloud-ws-resource-recommender
        environment:
            - WS_RESOURCE_RECOMMENDER_JVM_MEMORY_MAX=1024m
            - WS_RESOURCE_RECOMMENDER_CONFIG_BACKEND_SERVICE_LINK_CHECKER_HOST=link-checker
        ports:
            - "8083:8083"
        networks:
            - satwebspanet
        depends_on:
            - link-checker
    link-checker:
        image: identifiersorg/cloud-ws-link-checker
        environment:
            - WS_LINK_CHECKER_CONFIG_REDIS_HOST=redis
            - WS_LINK_CHECKER_CONFIG_BACKEND_SERVICE_RESOLVER_HOST=resolver
            - WS_LINK_CHECKER_CONFIG_DAEMON_PERIODIC_LINK_CHECK_REQUESTER_ENABLED=false
        ports:
            - "8084:8084"
        networks:
            - satwebspanet
        depends_on:
            - redis
    redis:
        image: redis:4.0.8-alpine
        ports:
            - "6379:6379"
        networks:
            - satwebspanet
networks:
    satwebspanet:
        driver: bridge
        ipam:
            driver: default
            config:
                - subnet: 192.168.252.0/24
                gateway: 192.168.252.254
