# Standalone environment for running the Link Checker
# Author: Manuel Bernal Llinares <mbdebian@gmail.com>
version: "3"
services:
    link-checker:
        image: identifiersorg/cloud-ws-link-checker
        environment:
            environment:
                - WS_LINK_CHECKER_JVM_MEMORY_MAX=1024m
                - WS_LINK_CHECKER_CONFIG_REDIS_HOST=redis
                - WS_LINK_CHECKER_CONFIG_BACKEND_SERVICE_RESOLVER_HOST=resolver
                - WS_LINK_CHECKER_CONFIG_DAEMON_PERIODIC_LINK_CHECK_REQUESTER_ENABLED=false
            ports:
                - "8084:8084"
            depends_on:
                - redis
                - recommender
    resolver:
        image: identifiersorg/cloud-ws-resolver
        environment:
            - WS_RESOLVER_CONFIG_REDIS_HOST=redis
            - WS_RESOLVER_CONFIG_REDIS_PORT=6379
            - WS_RESOLVER_CONFIG_RESOURCE_RECOMMENDER_HOST=recommender
            - WS_RESOLVER_CONFIG_RESOURCE_RECOMMENDER_PORT=8083
            - WS_RESOLVER_JVM_MEMORY_MAX=1024m
            - WS_RESOLVER_CONFIG_APPLICATION_ACTIVE_PROFILE=development
        ports:
            - "8080:8080"
        depends_on:
            - redis
            - recommender
    redis:
        image: redis:4.0.8-alpine
