<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <title>Identifiers.org</title>
    <link rel="stylesheet" href="/styles/styles.scss">
  </head>

  <body>
      <div id="app"></div>
      <script type="application/javascript">
          // Environment
          const configApiRegistryUrl = 'ENVCONFIG_HQ_WEB_REGISTRY_CONFIG_API_REGISTRY_URL'
      </script>
      <script src="/index.js"></script>
  </body>
</html>
