<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <title>Identifiers.org</title>
    <link rel="shortcut icon" type="image/ico" href="./assets/favicon.ico">
    <link rel="stylesheet" href="../node_modules/ebi-framework/css/ebi-lite.css" />

    <link rel="stylesheet" href="./styles/styles.scss">

    <script src="../node_modules/ebi-framework/js/script.min.js"></script>
    <link rel="stylesheet" href="../node_modules/EBI-Icon-fonts/fonts.css">
</head>

  <body>
      <div id="app"></div>
      <!--ENVIRONMENT_PLACEHOLDER-->
      <div id="config_placeholder"></div>
      <script type="module" src="./index.js"></script>
  </body>
</html>
