.active {
  font-weight: 700;
}

.header-logo {
  display: flex;
  align-items: flex-end;
  margin-right: 1rem;
}

.nav-item-spacer {
  border-right: 1px solid $light;
}

.nav-link-dark {
  color: $light !important;
}

.nav-item:hover {
  background-color: rgba(0, 0, 0, .5)
}

.nav-link-active {
  background-color: $light;
  color: $dark !important;
}
